body{
    margin: 0px;
    padding: 0px;
    background-image:url("../images/001.jpg");
    opacity: 0.5;
    color: white;
}
#div1{
    margin: auto;
    background-color: darkgray;
    width: 352px;
    height: 352px;
    position: absolute;
    top: 50%;
    margin-top: -176px;
    margin-left: 520px;
}
#div2{
    margin: auto;
    vertical-align: middle;
    width: 208px;
    height: 238px;
    position: absolute;
    top: 50%;
    margin-top: -117px;
    margin-left: 75px;

}
#email{
    text-align: left;
    height:25px;
    width:200px;
}
#password{
    text-align: left;
    height:25px;
    width:200px;
}
#button{
    text-align: center;
    height:25px;
    width:100px;
}
p{
    color: brown;
}